
bot/.classpath

bot/.project

bot/src/main/java/bot_telegram_for_organize_football/bot/AuxiliarClass.java

bot/target/classes/bot_telegram_for_organize_football/bot/AuxiliarClass.class

bot/target/classes/META-INF/

bot/to_do
